@model IEnumerable<ProductModel>

<h2>Products</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>On Sale</th>
        <th>Stock Level</th>
    </tr>

    @foreach (var prod in Model)
    {
        <tr>
            <td>@prod.ProductID</td>
            <td>@prod.Name</td>
            <td>@prod.Price</td>
            <td>@prod.CategoryID</td>
            <td>@prod.OnSale</td>
            <td>@prod.StockLevel</td>
        </tr>
    }
</table>
